.btn {
    width: 195px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    &:hover {
        opacity: 0.8;
    }
    &--primary {
        background-color: var(--color-primary);
        color: #fff;
    }
    &--secondary {
        background-color: var(--color-secondary);
        color: #fff;
        height: 48px;
        font-size: 1.125rem;
        font-weight: 700;
        padding: 0.875rem 2rem;
    }
}
